/* used W3schools website to get the background image to work */
body {
    /* searched google for the pokemon background img */
    background: url("https://img.freepik.com/free-photo/painting-mountain-landscape-with-road-leading-it_1340-29995.jpg?size=626&ext=jpg&ga=GA1.1.2119426238.1697585888&semt=ais");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
}
h1 {
    color:blue;
    font-size: 4em;
    margin: 15px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color: fuchsia;
    font-size: 4em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3px;
    padding: 40px;
    border: 10px solid limegreen;
    text-shadow: 5px 8px 4px limegreen;
}


h2 {
    color:yellow;
    font-size: 1.75em;
    margin: 4px auto;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.gameInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0, auto;
    padding: 40px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0, auto;
    padding: 0, auto;
}

.cards {
    margin:40px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 1em;
}

.card {
    height: 100px;
    background: black;
    border: 7px inset fuchsia;
    cursor: pointer;
}

Button {
    margin: 0 auto;
    height: 75px;
    width: 200px;
    background: fuchsia;
    border: 12px groove black;
    color: limegreen;
    cursor: pointer;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#startButton:hover {
    background-color: limegreen;
    color: fuchsia;
}


h3 {
    color: yellow;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    margin: 0, auto;
    text-shadow: 5px 8px 4px fuchsia;
}




