/* used W3schools website to get the background image to work */
body {
    /* searched google for the pokemon background img */
    background: url("https://img.freepik.com/free-photo/painting-mountain-landscape-with-road-leading-it_1340-29995.jpg?size=626&ext=jpg&ga=GA1.1.2119426238.1697585888&semt=ais");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
}

.cards {
    margin:40px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 1em;
}

.card {
    height: 100px;
    background: black;
    border: 5px solid fuchsia;
    cursor: pointer;
}

#startButton {
    margin: 0 auto;
    height: 50px;
    width: 150px;
    background: fuchsia;
    border: 5px groove black;
    color: black;
    cursor: pointer;
}

h3 {
    color: yellow;
    margin: 50px;
}
